
.well {
    padding: 50px;
    background-color: black;
    background-image: url('../images/wall.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#mouse{
    animation: bounce 2s infinite;
    padding-top: 5%;
}

img#mouse-click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.text-well {
    padding-top: 14%;
    color: white;
    font-size: 12px;
}

.mouse-icon {
    padding-top: 8%;
}

.text-pad {
    padding-bottom: 10px;
    padding-top: 10px;
}
                   /* //end of section1 styles(welcome sector) */

.about {
    padding: 30px;
    background-color: white;
    color: black;
    font-size: 15px;
}
               /* //end of section2 styles(about sector) */
.services {
    padding: 85px;
    background-image: url('../images/lappy.jpg');
    background-repeat: no-repeat;
}

.serve {
    color: white;
    font-size: 15px;
}
            /* //end of section3 styles(service sector) */
.wwd {
    padding: 50px;
}
 .wwd-text{
     font-size: 15px;
 }
         /* //end of section4 styles (what we do sector) */
.h3 {
    padding-top: 10px;
}

.table {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.caption {
    font-size: 12px;
}

.portfolio {
    align-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 40px;
}
                        /* //end of portfolio */

.contact {
    padding-top: 35px;
    padding-bottom: 40px;
    background-image: url('../images/machine.jpg');
    background-repeat: no-repeat;
}

.cont {
    color: white;
    font-size: 15px;
}

.form-input {
    font-size: 15px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    background: transparent;
    color: white;
}
.cont{
    background: transparent;
    padding-top: 20px;
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
    margin-bottom: 10px;
    padding: 7px 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
}
textarea{
    width: 50%;
}
input.contact-email {
    margin-left: 21px;
    width: 23%;
}
input.contact-name{
    width: 23%;
    
}
div.contact-btn button {
    padding: 7px 10px;
    width: 150px;
    font-weight: bold;
    transition: border 0.2s;
    font-size: 1.2rem;
}

div.contact-btn button:hover {
    border: 2px solid white;
}
          /* //end of contact form */
          
div.foot-img{
    margin-bottom: 10px;
}

div.footer-imgs img {
    margin: 7px 5px;
}

div.footer-msg p {
    font-size: 0.7rem;
}

.footsy {
    padding-top: 30px;
}

::placeholder {
    color: white;
    font-size: 14px;
}

#magic1,
#magic2,
#magic3 {
    display: none;
}

.toast {
    display: none;
}
h2{
    font-size: 30px;
}